In [1]:
import pandas as pd

In [2]:
df_data = pd.read_csv("../../datasets_for_training/binary_processed_dataset.csv")
df_data

,sequence,response,length_sequence,is_canon_seq
0,AAAAAAMIVQRVVLNSRPGKNGNPVAENFRMEEVYLPDNINEGQVQ...,1,357,True
1,AAAAAAMTMMDMNFKYCHKIMKKHSKSFSYAFDLLPEDQRKAVWAI...,1,293,True
2,AAADLAVGQVVAQREIRLDAQAFAQFAALTGDAHPIHYDAGYVQRQ...,0,151,True
3,AAADSTSMSYSVTLTGPGPWGFRLQGGKDFNMPLTISRITPGSKAA...,1,734,True
4,AAAIAGAKLRKVSRMEDTSFPSGGNAIGVNSASSKTDTGRGNGPLP...,1,178,True
...,...,...,...,...
150710,YYTPGSLIDLLLDSALDPVIEDAVRDKLPEDAIAALKGLKVIDPAC...,1,132,True
150711,YYTPSPIVSFIVSSLNEMLKKEFKLNHGLANKEKVTVLDFATGTGT...,0,334,True
150712,YYWSYGLAKSTQNSSYPGVICEYVFGEDDGELQNITFANATQVKSI...,0,65,True
150713,YYYGGEAYYTQITTSGEKKDEKTNSGEAMTIYYYQQPAFNKNGEEK...,1,94,True
150714,YYYYPTNNNGYQTYYYYPNNNNNNGQNTYYYDNGNNGNTGTTYYYY...,0,67,True

In [3]:
df_data_filter = df_data[(df_data["is_canon_seq"] == True) & (df_data["length_sequence"] <1024)]

In [4]:
df_data.shape

(150715, 4)