In [1]:
import pandas as pd

In [12]:
df_train = pd.read_csv("../../raw_data/GATSOL/eSol_train.csv")
df_train.columns = ["id_seq", "response", "sequence"]
df_train.head(5)

  id_seq  response                                           sequence
0   aaeX      0.34  MSLFPVIVVFGLSFPPIFFELLLSLAIFWLVRRVLVPTGIYDFVWH...
1    aas      0.07  MLFSFFRNLCRVLYRVRVTGDTQALKGERVLITPNHVSFIDGILLG...
2    aat      0.08  MRLVQLSRHSIAFPSPEGALREPNGLLALGGDLSPARLLMAYQRGI...
3   abgA      0.31  MESLNQFVNSLAPKLSHWRRDFHHYAESGWVEFRTATLVAEELHQL...
4   abgB      0.49  MQEIYRFIDDAIEADRQRYTDIADQIWDHPETRFEEFWSAEHLASA...

In [13]:
df_test = pd.read_csv("../../raw_data/GATSOL/eSol_test.csv")
df_test.columns = ["id_seq", "response", "sequence"]
df_test.head(5)

  id_seq  response                                           sequence
0   acpS      0.84  MAILGLGTDIVEIARIEAVIARSGDRLARRVLSDNEWAIWKTHHQP...
1   acpT      0.14  MYRIVLGKVSTLSAAPLPPGLREQAPQGPRRERWLAGRALLSHTLS...
2   acrA      0.65  MNKNRGFTPLAVVLMLSGSLALTGCDDKQAQQGGQQMPAVGVVTVK...
3   acrR      0.52  MARKTKQEAQETRQHILDVALRLFSQQGVSSTSLGEIAKAAGVTRG...
4    ada      0.32  MKKATCLTDDQRWQSVLARDPNADGEFVFAVRTTGIFCRPSCRARH...

In [14]:
df_test2 = pd.read_csv("../../raw_data/GATSOL/S.cerevisiae_test.csv")
df_test2.columns = ["id_seq", "response", "sequence"]
df_test2.head(5)

   id_seq  response                                           sequence
0  P38636     0.822  MAEIKHYQFNVVMTCSGCSGAVNKVLTKLEPDVSKIDISLEKQLVD...
1  P40347     0.925  MTIEKPKISVAFICLGNFCRSPMAEAIFKHEVEKANLENRFNKIDS...
2  P50861     0.888  MAVKGLGKPDQVYDGSKIRVGIIHARWNRVIIDALVKGAIERMASL...
3  P00445     0.947  MVQAVAVLKGDAGVSGVVKFEQASESEPTTVSYEIAGNSPNAERGF...
4  P49954     0.737  MSASKILSQKIKVALVQLSGSSPDKMANLQRAATFIERAMKEQPDT...

In [6]:
df_train.shape

(2019, 3)

In [7]:
df_test.shape

(660, 3)

In [8]:
df_test2.shape

(108, 3)

In [15]:
df_concat = pd.concat([df_train, df_test, df_test2], axis=0)
df_concat.shape

(2787, 3)

In [16]:
df_concat.head(5)

  id_seq  response                                           sequence
0   aaeX      0.34  MSLFPVIVVFGLSFPPIFFELLLSLAIFWLVRRVLVPTGIYDFVWH...
1    aas      0.07  MLFSFFRNLCRVLYRVRVTGDTQALKGERVLITPNHVSFIDGILLG...
2    aat      0.08  MRLVQLSRHSIAFPSPEGALREPNGLLALGGDLSPARLLMAYQRGI...
3   abgA      0.31  MESLNQFVNSLAPKLSHWRRDFHHYAESGWVEFRTATLVAEELHQL...
4   abgB      0.49  MQEIYRFIDDAIEADRQRYTDIADQIWDHPETRFEEFWSAEHLASA...

In [17]:
checking_duplicated = df_concat.groupby(by=["sequence", "response"]).count().sort_values(by="id_seq", ascending=False)

In [18]:
sequences_no_duplicated = checking_duplicated[checking_duplicated["id_seq"] == 1]
sequences_duplicated = checking_duplicated[checking_duplicated["id_seq"] > 1]

In [19]:
sequences_no_duplicated.shape

(2787, 1)

In [20]:
df_concat.to_csv("../../process_data/GATSOL_export_data.csv", index=False)