In [1]:
import pandas as pd

In [3]:
def read_text(name_doc):
    doc_open = open(name_doc, 'r')
    matrix_data = []

    line = doc_open.readline()

    while line:
        row = line.replace("\n", "").split(" ")
        row[1] = int(row[1])
        matrix_data.append(row)

        line = doc_open.readline()
    
    doc_open.close()

    df_data = pd.DataFrame(data=matrix_data, columns=["sequence", "response"])
    return df_data

In [4]:
df_train = read_text("../../raw_data/PaRSnIP/Training_set.txt")
df_train.head(5)

                                            sequence  response
0  MGSDKIHHHHHHVKFRVERDVLAEAVTWTARSLSPRPPVPVLSGLL...         0
1  MGSDKIHHHHHHMRVLAIRHVEIEDLGMMEDIFREKNWSFDYLDTP...         0
2  MGSDKIHHHHHHMTSPVENVKKKPRPLALSPSRAGDYQQCPLLYRF...         0
3  MTHYKDDSYALHTDLYQINMAYTYWKDGIHNRRSVFDLYFRKLPFE...         0
4  MGSDKIHHHHHHMVKCIEEYVQVDDFKMYSKVFQGKKLQPVIIMEA...         0

In [5]:
df_test = read_text("../../raw_data/PaRSnIP/Test_set.txt")
df_test.head(5)

                                            sequence  response
0  MLSVRIAAAVARALPRRAGLVSKNALGSSFVGTRNLHASNTRLQKT...         1
1  MDHMISENGETSAEGSICGYDSLHQLLSANLKPELYQEVNRLLLGR...         1
2  MLSASANMAAALRAAGALLREPLVHGSSRACQPWRCQSGAAVAATT...         1
3  MANMLVASSSKTLPTTTTTTITPKPKFPLLKTPLLKLSPPQLPPLK...         1
4  MAVVSTSLASQITNPNSAVSTQFSGLRRSFLKLENSVSTQSSFFQN...         1

In [6]:
df_concat = pd.concat([df_train, df_test], axis=0)
df_concat["id_seq"] = [i for i in range(len(df_concat))]
df_concat.shape

(71421, 3)

In [7]:
checking_duplicated = df_concat.groupby(by=["sequence", "response"]).count().sort_values(by="id_seq", ascending=False)

In [8]:
sequences_no_duplicated = checking_duplicated[checking_duplicated["id_seq"] == 1]
sequences_duplicated = checking_duplicated[checking_duplicated["id_seq"] > 1]

In [9]:
sequences_duplicated.shape

(0, 1)

In [10]:
df_concat.to_csv("../../process_data/PaRSnIP_export_data.csv", index=False)