In [1]:
import pandas as pd
from Bio import SeqIO

In [6]:
def fasta_to_csv(name_doc):
    matrix_data = []

    for record in SeqIO.parse(name_doc, "fasta"):
        id_seq = record.id
        class_seq = int(record.description.split("\t")[-1])
        sequence = str(record.seq)
        
        row = [
            id_seq,
            sequence,
            class_seq
        ]

        matrix_data.append(row)
        
    df_process = pd.DataFrame(data=matrix_data, columns=["id_seq", "sequence", "response"])
    return df_process

In [7]:
df_dev = fasta_to_csv("../../raw_data/EPSOL/solubility_dev.fa")
df_test = fasta_to_csv("../../raw_data/EPSOL/solubility_test.fa")
df_train = fasta_to_csv("../../raw_data/EPSOL/solubility_train.fa")

In [8]:
df_concat = pd.concat([df_dev, df_test,df_train], axis=0)
df_concat.head(5)

       id_seq                                           sequence  response
0  Psol_val_0  SRLYRHNLMEDVFNMENESFMQETRLMENEYSVNLPTRFYYKKRWN...         0
1  Psol_val_1  ATTYNAVVSKSSSDGKTFKTIADAIASAPAGSTPFVILIKNGVYNE...         1
2  Psol_val_2  MEDQDLLEIGILNSGHRQRILQAIQLLPKMRPIGHDGYHPTSVAEW...         1
3  Psol_val_3  MGFAKPPWGGKLKGVVRILGGKARGVALKVPASARPSPVRLRKALF...         1
4  Psol_val_4  LAAGPALSARGYLALNGQTPAGCSLMEWQNDNNGRQRWCVRLVQGG...         0

In [9]:
df_concat["response"].value_counts()

0    41449
1    29972
Name: response, dtype: int64

In [10]:
checking_duplicated = df_concat.groupby(by=["sequence", "response"]).count().sort_values(by="id_seq", ascending=False)

In [11]:
sequences_no_duplicated = checking_duplicated[checking_duplicated["id_seq"] == 1]
sequences_duplicated = checking_duplicated[checking_duplicated["id_seq"] > 1]

In [12]:
sequences_duplicated.shape

(0, 1)

In [13]:
df_concat.to_csv("../../process_data/EPSOL_exported_data.csv", index=False)