In [1]:
import pandas as pd
from Bio import SeqIO

In [3]:
def fasta_to_df(name_doc):
    matrix_data = []

    for record in SeqIO.parse(name_doc, "fasta"):
        id_seq = record.id
        sequence = str(record.seq)

        row = [
            id_seq,
            sequence
        ]

        matrix_data.append(row)

    df_process = pd.DataFrame(data=matrix_data, columns=["id_seq", "sequence"])
    return df_process

In [2]:
df_train = pd.read_csv("../../raw_data/soluprot_data/training_set.csv")
df_test = pd.read_csv("../../raw_data/soluprot_data/test_set.csv")

In [11]:
df_train["sid"] = df_train["sid"].astype(str)
df_test["sid"] = df_test["sid"].astype(str)

In [4]:
data_train = fasta_to_df("../../raw_data/soluprot_data/training_set.fasta")
data_test = fasta_to_df("../../raw_data/soluprot_data/test_set.fasta")

In [5]:
data_train.head(5)

   id_seq                                           sequence
0   97522  MRSSNNRHEGEEAMNRTQQWMEDLQKNISDLIARSPAADVERNVRA...
1  198988  MKTFSAILPLCFLFAVETAVAQEGNFKAGTYSAARQGIGGDVTVTL...
2   58879  QQVMYSNLKELVENRGDTVTTLKIEKRTKNQIYLMGGADYRITVDD...
3   44629  MNNQQIEDDLTYKIIGCAMKVHTTLGNGFQEVIYQRALAIEMKKAD...
4   93183  MGHVVKVALLGLGEVGEKFAEHFLEKIQEDRANVEIVAVAHRDLES...

In [6]:
df_train.head(5)

      sid  solubility
0   97522           1
1  198988           1
2   58879           1
3   44629           1
4   93183           1

In [13]:
data_train_merge = data_train.merge(right=df_train, left_on="id_seq", right_on="sid")
data_train_merge = data_train_merge[["id_seq", "sequence", "solubility"]]

data_test_merge = data_test.merge(right=df_test, left_on="id_seq", right_on="sid")
data_test_merge = data_test_merge[["id_seq", "sequence", "solubility"]]

data_concat = pd.concat([data_train_merge, data_test_merge], axis=0)

In [15]:
data_concat["solubility"].value_counts()

1    7268
0    7268
Name: solubility, dtype: int64

In [17]:
data_concat.shape

(14536, 3)

In [16]:
len(data_concat["sequence"].unique())

14536

In [18]:
checking_duplicated = data_concat.groupby(by=["sequence", "solubility"]).count().sort_values(by="id_seq", ascending=False)

In [19]:
checking_duplicated[checking_duplicated["id_seq"] == 1].shape

(14536, 1)

In [20]:
data_concat.columns = ["id_seq","sequence","response"]

In [21]:
data_concat.to_csv("../../process_data/soluprot_export_data.csv", index=False)