In [2]:
import pandas as pd
from Bio import SeqIO

In [3]:
matrix_data = []

for record in SeqIO.parse("../../raw_data/SOLP/SOLP.fa", "fasta"):
    class_value = record.id.split("_")[1]
    id_seq = record.id.split("_")[0]
    sequence = str(record.seq)

    row = [
        id_seq,
        sequence,
        class_value
    ]

    matrix_data.append(row)

df_process = pd.DataFrame(data=matrix_data, columns=["id_seq", "sequence", "response"])
df_process.head(5)

  id_seq                                           sequence response
0  TDB27  MAISKKKRFFFDLAQDEDDAETVQEVKKVEQQLKLEPVVQPQHDLT...        S
1  TDB35  MKISLSTSLFSIEQKVEYFNLNYQSLSDFSVVAKLNYTFTWYGNDF...        S
2  TDB39  MDKKYDITAVLNEDSSMTAISDQFQITLDARPKHTAKGFGPLAALL...        S
3  TDB44  MANSLRNVNDYDPFKYRPSYFDLEAPTESFALGKFVDAIEVKQMAL...        S
4  TDB54  MNTFKETLFSLKKSNYLLNESAQILNDCVVNNNEIDERLRNSIKFA...        S

In [5]:
df_process["response"] = df_process["response"].replace({'S': 1, 'I':0})

In [6]:
df_process["response"].value_counts()

1    8704
0    8704
Name: response, dtype: int64

In [8]:
df_process.shape

(17408, 3)

In [7]:
len(df_process["sequence"].unique())

17343

In [22]:
checking_duplicated = df_process.groupby(by=["sequence", "response"]).count().sort_values(by="id_seq", ascending=False)

In [23]:
checking_duplicated[checking_duplicated["id_seq"] == 1].shape

(17318, 1)

In [24]:
sequences_no_duplicated = checking_duplicated[checking_duplicated["id_seq"] == 1]
sequences_duplicated = checking_duplicated[checking_duplicated["id_seq"] > 1]

In [25]:
sequences_duplicated.shape

(25, 1)

In [27]:
sequences_duplicated

                                 id_seq
sequence               response
TTYADFIASGRTGRRNAIHD   1             23
GSVVIVGRIVLSGKPA       1              9
KGSVVIVGRIVLSGKPAIIPK  1              4
RIIYDRKFLMECRN         1              4
KGSVVIVGRIVLSGKPAIIPKK 1              3
PPEELKFQAGQKT          1              3
KGSVVIVGRIVLSGKPAIIPA  1              3
GSFLPNSEQQKSVDIVFSS    1              3
GGAGHVPEYFVGIGTPISFYG  1              3
ITFEDLLDYYGP           1              3
IVALVVAIIIAIVVWSI      1              3
LPEPLPQGQLTAY          1              3
MWDFDDMPPADEDYSP       1              2
PPRPLPVAPGSSKT         1              2
ETFSDLWKLLPEN          1              2
ENALLRYLLDKD           1              2
TRTKIDWNKILS           1              2
RIIYDRKFLMECRNSP       1              2
SRVTWYDFLMED           1              2
NWKLLAKGLLIRERLKR      1              2
TRELDELMASLS           1              2
TRKSIHIGPGRAFYTTGEI    1              2
KSIRIQRGPGRAFVTIG      1              2
PSKKRKRSRWNQD          1              2
TTYADFIASGRTGRRNAIH    1              2

In [28]:
sequences_no_duplicated.head(5)

                                                             id_seq
sequence                                           response
MQNNEIIKPAKYFSELEKSILLALVEKYKYVLECKKSDARTIALKQR... 1              1
MQKFILSAFVVALVAADCALKCPDGYFSFKRAPSAKNSMTGLWCVKA... 0              1
MQKIKFTDPQTNDVVEFAVEEETTLNGTRYLLVSEGEESGDCEAYIL... 0              1
MQKIAKRTINMAIGCLEQRKDECLYKLFRKGADVDNLKRYPIMESEI... 0              1
MQKGNFRNQRKTVKCFNCGKEGHIAKNCRAPRKKGCWKCGKEGHQMK... 1              1

In [32]:
matrix_data = []

for index in sequences_duplicated.index:
    row = [
        sequences_duplicated["id_seq"][index],
        index[0],
        index[1]
    ]
    matrix_data.append(row)

for index in sequences_no_duplicated.index:
    row = [
        sequences_no_duplicated["id_seq"][index],
        index[0],
        index[1]
    ]
    matrix_data.append(row)

df_data_process = pd.DataFrame(data=matrix_data, columns=["id_seq", "sequence", "response"])

In [33]:
df_data_process.shape

(17343, 3)

In [34]:
df_data_process.to_csv("../../process_data/solp_export_data.csv", index=False)

In [35]:
df_data_process["response"].value_counts()

0    8704
1    8639
Name: response, dtype: int64