In [1]:
import pandas as pd

In [2]:
df_train = pd.read_csv("../../raw_data/GPSFun/solubility_train.csv")
df_train.shape

(11226, 3)

In [3]:
df_test = pd.read_csv("../../raw_data/GPSFun/solubility_test.csv")
df_test.shape

(1323, 3)

In [4]:
df_test.head(5)

,ID,solublility|0=Insoluble|1=Soluble,Sequence
0,AR3338B,0,MSVHKLTDLRDNSTNWKINVKILSIWNHPPNSHGEITTMILHDDKN...
1,AR3369B,0,ANSIDLIGYVHQPVQFDSTLDGKFWAGTVISHEPSSDSKSESDSSS...
2,AR3387A,0,SDSLFLSLAKFDVILSGSTNSNILHDVMGQVIDRSEIQDLNANNKP...
3,AR3433A,1,AAVRKIHVTVKFPSKQFTVEVDRTETVSSLKDKIHIVENTPIKRMQ...
4,AR3436A,1,GDDSVHLHITHANLKSFSADARFSPQMSVEAVKEKLWKKCGTSVNS...

In [5]:
df_train.head(5)

,ID,solublility|0=Insoluble|1=Soluble,Sequence
0,AaCD00331182,1,MTYKDGTYSSDGTYTSPNGLETVGVELTLAADKVSAVNITVHPSNP...
1,AaCD00331183,1,MTAMNILVLGSDSRGSSDADVEANTATDQRADTLMLVHVPADRKKT...
2,AaCD00331184,1,MKAEGNTAMNILVLGSDSRGSSDADVEANTATDQRADTLMLVHVPA...
3,AaCD00331185,1,MQSFNSGSTKIHNAFPEESTRPQKAEGNTAMNILVLGSDSRGSSDA...
4,AaCD00331621,1,MNAPVKFEYFKNPKNRELTAVELEAFAKELDQIKQEVLDDIGEKDA...

In [6]:
df_train.columns = ["id_seq", "response", "sequence"]
df_test.columns = ["id_seq", "response", "sequence"]

In [7]:
df_concat = pd.concat([df_train, df_test], axis=0)
df_concat["response"].value_counts()

1    8342
0    4207
Name: response, dtype: int64

In [8]:
checking_duplicated = df_concat.groupby(by=["sequence", "response"]).count().sort_values(by="id_seq", ascending=False)

In [9]:
sequences_no_duplicated = checking_duplicated[checking_duplicated["id_seq"] == 1]
sequences_duplicated = checking_duplicated[checking_duplicated["id_seq"] > 1]

In [10]:
sequences_duplicated.shape

(88, 1)

In [12]:
unique_duplicated = []

for index in sequences_duplicated.index:
    unique_duplicated.append(index[0])

unique_duplicated = list(set(unique_duplicated))
len(unique_duplicated)

88

In [13]:
matrix_data_sequences = []

for index in sequences_no_duplicated.index:
    row = [
        index[0],
        index[1]
    ]
    matrix_data_sequences.append(row)

for index in sequences_duplicated.index:
    row = [
        index[0],
        index[1]
    ]
    matrix_data_sequences.append(row)

df_to_export = pd.DataFrame(data=matrix_data_sequences, columns=["sequence", "response"])

In [14]:
df_to_export["response"].value_counts()

1    8256
0    4201
Name: response, dtype: int64

In [15]:
df_to_export.to_csv("../../process_data/GPSFun_export_data.csv", index=False)