In [1]:
import pandas as pd
from Bio import SeqIO

In [4]:
def fasta_to_csv(name_doc):
    matrix_data = []

    for record in SeqIO.parse(name_doc, "fasta"):
        id_seq = record.id.split("|")[0]
        response = int(record.id.split("|")[1])

        row = [
            id_seq,
            str(record.seq),
            response
        ]
        matrix_data.append(row)
    
    df_data = pd.DataFrame(data=matrix_data, columns=["id_seq", "sequence", "response"])
    return df_data

In [5]:
df_test = fasta_to_csv("../../raw_data/DeepSoluE/testing.fasta")
df_test.head(5)

   id_seq                                           sequence  response
0  131111  MGSVRKASAWLGLVDDNDDERYYDDDYAEGQESGEAWVTDPRVKVA...         1
1   73655  MFDGISLTEHQRQQMRDLMQQARHEQPPVNVSELETMHRLVTAENF...         1
2   50865  MTQEIDIGKYHQLALQKQKEHRKFLATLKKKAPKNLDKIVQEVHTE...         1
3  127577  MAQRSEIPHFPRTAAIDAYGKGGFYFADMSHQGSLLFLPDAVWGWD...         1
4    7144  MITDEEIRKVIAPLLLSGAKMLDKHCPKCGSPLFEKDGRVFCPVCE...         1

In [6]:
df_train = fasta_to_csv("../../raw_data/DeepSoluE/training.fasta")
df_train.head(5)

   id_seq                                           sequence  response
0   97522  MRSSNNRHEGEEAMNRTQQWMEDLQKNISDLIARSPAADVERNVRA...         1
1  198988  MKTFSAILPLCFLFAVETAVAQEGNFKAGTYSAARQGIGGDVTVTL...         1
2   58879  QQVMYSNLKELVENRGDTVTTLKIEKRTKNQIYLMGGADYRITVDD...         1
3   44629  MNNQQIEDDLTYKIIGCAMKVHTTLGNGFQEVIYQRALAIEMKKAD...         1
4   93183  MGHVVKVALLGLGEVGEKFAEHFLEKIQEDRANVEIVAVAHRDLES...         1

In [7]:
df_concat = pd.concat([df_test, df_train], axis=0)
df_concat.shape

(14536, 3)

In [8]:
checking_duplicated = df_concat.groupby(by=["sequence", "response"]).count().sort_values(by="id_seq", ascending=False)

In [9]:
sequences_no_duplicated = checking_duplicated[checking_duplicated["id_seq"] == 1]
sequences_duplicated = checking_duplicated[checking_duplicated["id_seq"] > 1]

In [10]:
sequences_duplicated.shape

(0, 1)

In [11]:
df_concat.to_csv("../../process_data/deep_solu_e_export_data.csv", index=False)