In [1]:
import pandas as pd

In [2]:
df_mutsol = pd.read_csv("../../raw_data/mutsol/mutsol.csv")
df_mutsol.head(5)

   index variation  solubility      gi
0      0     M226K          -1  117391
1      1     R151Q          -1  117391
2      2     R234W           0  117391
3      3     P193F          -1  117544
4      4     P193G          -1  117544

In [3]:
df_mutsol.shape

(6328, 4)

In [4]:
df_ponsol2 = pd.read_csv("../../process_data/mutations_categorical/PON-Sol2_export_data.csv")
df_ponsol2.shape

(6374, 4)

In [5]:
df_ponsol2.head(5)

,gi,variation,sequence,response
0,117391,M226K,MSEGVGTFRMVPEEEQELRAQLEQLTTKDHGPVFGPCSQLPRHTLQ...,-1
1,117391,R151Q,MSEGVGTFRMVPEEEQELRAQLEQLTTKDHGPVFGPCSQLPRHTLQ...,-1
2,117391,R234W,MSEGVGTFRMVPEEEQELRAQLEQLTTKDHGPVFGPCSQLPRHTLQ...,0
3,117544,P193F,MNPYQNKNEYETLNASQKKLNISNNYTRYPIENSPKQLLQSTNYKD...,-1
4,117544,P193G,MNPYQNKNEYETLNASQKKLNISNNYTRYPIENSPKQLLQSTNYKD...,-1

In [6]:
df_mutsol["is_in_ponsol2"] = df_mutsol["gi"].isin(df_ponsol2["gi"].tolist())

In [7]:
df_mutsol["is_in_ponsol2"].value_counts()

True    6328
Name: is_in_ponsol2, dtype: int64