In [1]:
import pandas as pd

In [4]:
df_data = pd.read_excel("../../raw_data/prosol/ProSol DB.xlsx", skiprows=1)
df_data.shape

/home/dmedina/miniconda3/envs/data_driven_library/lib/python3.9/site-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

(254016, 5)

In [5]:
df_data.head(5)

,Protein ID,Organism,Sequence,EC number,Solubility
0,Q9S9U6,Arabidopsis thaliana (Mouse-ear cress),MLSSKVVGDSHGQDSSYFLGWQEYEKNPFHESFNTSGIVQMGLAEN...,4.4.1.14,62
1,A2XLL2,Oryza sativa subsp. indica (Rice),MVSQVVAEEKPQLLSKKAGCNSHGQDSSYFLGWQEYEKNPFDPVSN...,4.4.1.14,87
2,Q06402,Arabidopsis thaliana (Mouse-ear cress),MGLPGKNKGAVLSKIATNNQHGENSEYFDGWKAYDKDPFHLSRNPH...,4.4.1.14,1
3,Q42881,Solanum lycopersicum (Tomato) (Lycopersicon es...,MKLLSEKATCNSHGQDSSYFLGWQEYEKNPYDEIQNPKGIIQMGLA...,4.4.1.14,1
4,Q9STR4,Arabidopsis thaliana (Mouse-ear cress),MGLPLMMERSSNNNNVELSRVAVSDTHGEDSPYFAGWKAYDENPYD...,4.4.1.14,95

In [6]:
len(df_data["Sequence"].unique())

201225

In [8]:
df_data = df_data[["Protein ID", "Sequence", "Solubility"]]
df_data.columns = ["id_seq", "sequence", "response"]

In [9]:
checking_duplicated = df_data.groupby(by=["sequence", "response"]).count().sort_values(by="id_seq", ascending=False)

In [10]:
sequences_no_duplicated = checking_duplicated[checking_duplicated["id_seq"] == 1]
sequences_duplicated = checking_duplicated[checking_duplicated["id_seq"] > 1]

In [11]:
sequences_duplicated.shape

(27031, 1)

In [12]:
sequences_duplicated.head(5)

                                                             id_seq
sequence                                           response
MRILLSNDDGVHAPGIQTLAKALREFADVQVVAPDRNRSGASNSLTL... 18            57
MSAIAPGMILIAYLCGSISSAILVCRLCGLPDPRTSGSGNPGATNVL... 63            50
MARVTVQDAVEKIGNRFDLVLVAARRARQMQVGGKDPLVPEENDKTT... 64            46
MFPMVTEFMNYGQQTVRAARYIGQGFMITLSHANRLPVTIQYPYEKL... 67            45
MVDKSQETTHFGFQTVAKEQKADMVAHVFHSVASKYDVMNDLMSFGI... 100           42

In [13]:
unique_duplicated = []

for index in sequences_duplicated.index:
    unique_duplicated.append(index[0])

unique_duplicated = list(set(unique_duplicated))
len(unique_duplicated)

27031

In [14]:
matrix_data_sequences = []

for index in sequences_no_duplicated.index:
    row = [
        index[0],
        index[1]
    ]
    matrix_data_sequences.append(row)

for index in sequences_duplicated.index:
    row = [
        index[0],
        index[1]
    ]
    matrix_data_sequences.append(row)

df_to_export = pd.DataFrame(data=matrix_data_sequences, columns=["sequence", "response"])

In [15]:
df_to_export.shape

(201228, 2)

In [16]:
df_to_export.to_csv("../../process_data/prosol_export_data.csv", index=False)