In [1]:
import pandas as pd

In [6]:
df_test_src = pd.read_csv("../../raw_data/DeepSol/test_src", header=None)
df_test_src.columns = ["sequence"]

df_test_tgt = pd.read_csv("../../raw_data/DeepSol/test_tgt", header=None)
df_test_tgt.columns = ["response"]

df_test = pd.concat([df_test_src, df_test_tgt], axis=1)
df_test.head(5)

                                            sequence  response
0  MLSVRIAAAVARALPRRAGLVSKNALGSSFVGTRNLHASNTRLQKT...         1
1  MDHMISENGETSAEGSICGYDSLHQLLSANLKPELYQEVNRLLLGR...         1
2  MLSASANMAAALRAAGALLREPLVHGSSRACQPWRCQSGAAVAATT...         1
3  MANMLVASSSKTLPTTTTTTITPKPKFPLLKTPLLKLSPPQLPPLK...         1
4  MAVVSTSLASQITNPNSAVSTQFSGLRRSFLKLENSVSTQSSFFQN...         1

In [7]:
df_train_src = pd.read_csv("../../raw_data/DeepSol/train_src", header=None)
df_train_src.columns = ["sequence"]

df_train_tgt = pd.read_csv("../../raw_data/DeepSol/train_tgt", header=None)
df_train_tgt.columns = ["response"]

df_train = pd.concat([df_train_src, df_train_tgt], axis=1)
df_train.head(5)

                                            sequence  response
0  GMILKTNLFGHTYQFKSITDVLAKANEEKSGDRLAGVAAESAEERV...         1
1  MAHHHHHHMSFFRMKRRLNFVVKRGIEELWENSFLDNNVDMKKIEY...         0
2  MGSDKIHHHHHHMEKSIQDTIHGVIKLEDWMVEIVDTPQFQRLRRI...         0
3  MEKYIHSVEDYHRLISYLENNLNYEDSVVNHVIYVIAKTGMRYGEI...         0
4  MSLTDSFTVRSIEGVCFRYPLATPVVTSFGKMLNRPAVFVRVVDED...         0

In [8]:
df_val_src = pd.read_csv("../../raw_data/DeepSol/val_src", header=None)
df_val_src.columns = ["sequence"]

df_val_tgt = pd.read_csv("../../raw_data/DeepSol/val_tgt", header=None)
df_val_tgt.columns = ["response"]

df_val = pd.concat([df_val_src, df_val_tgt], axis=1)
df_val.head(5)

                                            sequence  response
0  SRLYRHNLMEDVFNMENESFMQETRLMENEYSVNLPTRFYYKKRWN...         0
1  ATTYNAVVSKSSSDGKTFKTIADAIASAPAGSTPFVILIKNGVYNE...         1
2  MEDQDLLEIGILNSGHRQRILQAIQLLPKMRPIGHDGYHPTSVAEW...         1
3  MGFAKPPWGGKLKGVVRILGGKARGVALKVPASARPSPVRLRKALF...         1
4  LAAGPALSARGYLALNGQTPAGCSLMEWQNDNNGRQRWCVRLVQGG...         0

In [9]:
df_concat = pd.concat([df_test, df_train, df_val], axis=0)
df_concat.head(5)

                                            sequence  response
0  MLSVRIAAAVARALPRRAGLVSKNALGSSFVGTRNLHASNTRLQKT...         1
1  MDHMISENGETSAEGSICGYDSLHQLLSANLKPELYQEVNRLLLGR...         1
2  MLSASANMAAALRAAGALLREPLVHGSSRACQPWRCQSGAAVAATT...         1
3  MANMLVASSSKTLPTTTTTTITPKPKFPLLKTPLLKLSPPQLPPLK...         1
4  MAVVSTSLASQITNPNSAVSTQFSGLRRSFLKLENSVSTQSSFFQN...         1

In [10]:
df_concat["response"].value_counts()

0    41447
1    29972
Name: response, dtype: int64

In [11]:
df_concat["id_seq"] = [i for i in range(len(df_concat))]

In [12]:
checking_duplicated = df_concat.groupby(by=["sequence", "response"]).count().sort_values(by="id_seq", ascending=False)

In [13]:
sequences_no_duplicated = checking_duplicated[checking_duplicated["id_seq"] == 1]
sequences_duplicated = checking_duplicated[checking_duplicated["id_seq"] > 1]

In [15]:
sequences_no_duplicated.shape

(71419, 1)

In [14]:
sequences_duplicated.shape

(0, 1)

In [16]:
df_concat.to_csv("../../process_data/deep_sol_export_data.csv", index=False)