In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
df_data = pd.read_csv("../../datasets_for_training/numerical_dataset_with_responses.csv")
df_data.shape

(196926, 4)

In [3]:
df_data.head(5)

,sequence,response,length_sequence,is_canon_seq
0,MSEMLFFVITTIVKAVVILAVMASLAGLATYAERKVLAYMQRRVGP...,71,331,True
1,MSAAIDAVELSRELIRKPSVTPADEGAMDVVERTLAGLGFACRRMR...,21,380,True
2,MRMIQRERKREKEEGQLKERTVVNMADPDDNEAEATGLQQYSGETT...,100,811,True
3,MSENQDLQKSFLETVKFDDKGLVPAIVQDFETGKVLMMAWMNRQSL...,81,137,True
4,MSENLNREPELNIGYITQVIGPVIDAVFSAGQLPKIYNALEVKSKD...,100,481,True

In [4]:
df_data = df_data[["sequence", "response"]]

In [5]:
df_train, df_test = train_test_split(df_data, test_size=0.1, random_state=42)

In [6]:
df_train.to_csv("../../processing_datasets/numerical_response/train_dataset.csv", index=False)

In [7]:
df_test.to_csv("../../processing_datasets/numerical_response/test_dataset.csv", index=False)