In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
df_data = pd.read_csv("../../datasets_for_training/mutational_categories.csv")
df_data.shape

(6374, 4)

In [3]:
df_data.head(5)

,gi,variation,sequence,response
0,117391,M226K,MSEGVGTFRMVPEEEQELRAQLEQLTTKDHGPVFGPCSQLPRHTLQ...,-1
1,117391,R151Q,MSEGVGTFRMVPEEEQELRAQLEQLTTKDHGPVFGPCSQLPRHTLQ...,-1
2,117391,R234W,MSEGVGTFRMVPEEEQELRAQLEQLTTKDHGPVFGPCSQLPRHTLQ...,0
3,117544,P193F,MNPYQNKNEYETLNASQKKLNISNNYTRYPIENSPKQLLQSTNYKD...,-1
4,117544,P193G,MNPYQNKNEYETLNASQKKLNISNNYTRYPIENSPKQLLQSTNYKD...,-1

In [5]:
df_data = df_data[["sequence", "response"]]
df_data["response"].value_counts()

-1    3148
 0    2188
 1    1038
Name: response, dtype: int64

In [6]:
df_train, df_test = train_test_split(df_data, test_size=0.1, random_state=42)

In [7]:
df_train["response"].value_counts()

-1    2835
 0    1960
 1     941
Name: response, dtype: int64

In [8]:
df_test["response"].value_counts()

-1    313
 0    228
 1     97
Name: response, dtype: int64

In [9]:
df_train.to_csv("../../processing_datasets/mutational_dataset/train_dataset.csv", index=False)

In [10]:
df_test.to_csv("../../processing_datasets/mutational_dataset/test_dataset.csv", index=False)